# Игнорировать папку venv (виртуальная среда)
venv/

# системные переменные
.env

# Кеш Python
__pycache__/
*.py[cod]
*.pyc
.python-version

# Логи и временные файлы
*.log
*.tmp

# Настройки IDE (например, VS Code)
.vscode/
.idea/

# Файлы зависимостей (можно оставить, если используешь requirements.txt)
*.egg-info/

# исключаем локальную базу данных sqlite
rubikjanbot.db