# Игнорировать папку venv (виртуальная среда)
venv/

# Кеш Python
__pycache__/
*.py[cod]

# Логи и временные файлы
*.log
*.tmp

# Настройки IDE (например, VS Code)
.vscode/
.idea/

# Файлы зависимостей (можно оставить, если используешь requirements.txt)
*.egg-info/